{% extends 'index.html' %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='external.css') }}" />
    <br><br><br><br><br>
    <div id="contentlist">
      <form method="POST" action="/party">
      <table>
        <tr>
          <td> Servants </td>
          <td>
            <input type="text" name ="servant1">
            <br>
          </td>
          <td>
            <input type="text" name ="servant2">
          </td>
          <td>
            <input type="text" name ="servant3">
          </td>
          <td>
            <input type="text" name ="servant4">
          </td>
          <td>
            <input type="text" name ="servant5">
          </td>
          </tr>

          <tr>
          <td> CEs </td>
          <td>
            <input type="text" name ="craft1">
          </td>
          <td>
            <input type="text" name ="craft2">
          </td>
          <td>
            <input type="text" name ="craft3">
          </td>
          <td>
            <input type="text" name ="craft4">
          </td>
          <td>
            <input type="text" name ="craft5">
          </td>
          </tr>
        </table>
      <br><br>
    <div><center>
      <input class="button" type="submit" value="Calculate Cost">
    </center></div>
    </form>
    <br>
    <h2> Total cost = {{ totalcost }} </h2>
</div>
{% endblock %}
