{% extends 'index.html' %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='external.css') }}" />
    <div id="desc">
    <ul>
        <h2>{{ Servant.name }} </h2>
        <p>Class - {{ Servant.sclass }}</p>
        <p>Nobel Phantasm - {{ Servant.NP }}</p>
        <p>Rarity - &#9733;{{ Servant.Rarity }}</p>
        <p>Cost - {{ Servant.scost }}</p>
        <p>Skill 1 - {{ Servant.S1 }}</p>
        <p>Skill 2 - {{ Servant.S2 }}</p>
        <p>Skill 3 - {{ Servant.S3 }}</p>
        <p>{{ Servant.desc }}</p>
    </ul>
</div>
{% endblock %}
